<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <providers>
        <midi>
            <MidiDeviceProviders>
              <MidiDeviceProvider Name="RealTimeSequencerProvider" Description="SystemX.Media.Sound.RealTimeSequencerProvider, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
              <MidiDeviceProvider Name="MidiOutDeviceProvider" Description="SystemX.Media.Sound.MidiOutDeviceProvider, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
              <MidiDeviceProvider Name="MidiInDeviceProvider" Description="SystemX.Media.Sound.MidiInDeviceProvider, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
              <MidiDeviceProvider Name="SoftProvider" Description="SystemX.Media.Sound.SoftProvider"/>
            </MidiDeviceProviders>
            <MidiFileReaders>
              <MidiFileReader Name="StandardMidiFileReader" Description="SystemX.Media.Sound.StandardMidiFileReader, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
            </MidiFileReaders>
            <MidiFileWriters>
              <MidiFileWriter Name="StandardMidiFileWriter" Description="SystemX.Media.Sound.StandardMidiFileWriter, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
            </MidiFileWriters>
            <SoundbankReaders>
              <SoundbankReader Name="SF2SoundbankReader" Description="SystemX.Media.Sound.SF2SoundbankReader, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
              <SoundbankReader Name="DLSSoundbankReader" Description="SystemX.Media.Sound.DLSSoundbankReader, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
              <SoundbankReader Name="AudioFileSoundbankReader" Description="SystemX.Media.Sound.AudioFileSoundbankReader, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
              <SoundbankReader Name="JARSoundbankReader" Description="SystemX.Media.Sound.JARSoundbankReader, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
            </SoundbankReaders>
        </midi>
        <sampled>
            <AudioFileReaders>
              <AudioFileReader Name="WaveExtensibleFileReader" Description="SystemX.Media.Sound.WaveExtensibleFileReader, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
              <AudioFileReader Name="AuFileReader" Description="SystemX.Media.Sound.AuFileReader, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
              <AudioFileReader Name="AiffFileReader" Description="SystemX.Media.Sound.AiffFileReader, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
              <AudioFileReader Name="WaveFileReader" Description="SystemX.Media.Sound.WaveFileReader, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
              <AudioFileReader Name="WaveFloatFileReader" Description="SystemX.Media.Sound.WaveFloatFileReader, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
              <AudioFileReader Name="SoftMidiAudioFileReader" Description="SystemX.Media.Sound.SoftMidiAudioFileReader, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
            </AudioFileReaders>
            <AudioFileWriters>
              <AudioFileWriter Name="WaveFloatFileWriter" Description="SystemX.Media.Sound.WaveFloatFileWriter, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
              <AudioFileWriter Name="AuFileWriter" Description="SystemX.Media.Sound.AuFileWriter, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
              <AudioFileWriter Name="AiffFileWriter" Description="SystemX.Media.Sound.AiffFileWriter, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
              <AudioFileWriter Name="WaveFileWriter" Description="SystemX.Media.Sound.WaveFileWriter, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
            </AudioFileWriters>
            <FormatConversionProviders>
              <FormatConversionProvider Name="AudioFloatFormatConverter" Description="SystemX.Media.Sound.AudioFloatFormatConverter, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
              <FormatConversionProvider Name="UlawCodec" Description="SystemX.Media.Sound.UlawCodec, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
              <FormatConversionProvider Name="AlawCodec" Description="SystemX.Media.Sound.AlawCodec, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
              <FormatConversionProvider Name="PCMtoPCMCodec" Description="SystemX.Media.Sound.PCMtoPCMCodec, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
            </FormatConversionProviders>
            <MixerProviders>
              <MixerProvider Name="PortMixerProvider" Description="SystemX.Media.Sound.PortMixerProvider, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
              <MixerProvider Name="DirectAudioDeviceProvider" Description="SystemX.Media.Sound.DirectAudioDeviceProvider, Sound, Version=4.0.0.0, Culture=neutral, PublicKeyToken=987df3c2e7e93158"/>
            </MixerProviders>
        </sampled>
    </providers>
<!--
###########################################################
               Sound Configuration File
###########################################################

 This properties file is used to specify default service
 providers for SystemX.Sound.Midi.MidiSystem and
 SystemX.Sound.Sampled.AudioSystem.

 The following keys are recognized by MidiSystem methods:

 SystemX.Sound.Midi.IReceiver
 SystemX.Sound.Midi.ISequencer
 SystemX.Sound.Midi.ISynthesizer
 SystemX.Sound.Midi.ITransmitter

 The following keys are recognized by AudioSystem methods:

 SystemX.Sound.Sampled.IClip
 SystemX.Sound.Sampled.IPort
 SystemX.Sound.Sampled.ISourceDataLine
 SystemX.Sound.Sampled.ITargetDataLine

 The values specify the full class name of the service
 provider, or the device name.

 See the class descriptions for details.

 Example 1:
 Use MyDeviceProvider as default for SourceDataLines:
 SystemX.Sound.Sampled.ISourceDataLine=SystemX.Com.xyz.MyDeviceProvider

 Example 2:
 Specify the default Synthesizer by its name "InternalSynth".
 SystemX.Sound.Midi.ISynthesizer=#InternalSynth

 Example 3:
 Specify the default Receiver by provider and name:
 SystemX.Sound.Midi.IReceiver=SystemX.Media.Sound.MidiProvider#SunMIDI1

-->
	<sound>
	    <midi>
	        <defaults>
	            <default Interface="SystemX.Sound.Midi.IReceiver" DefaultClass="" />
	            <default Interface="SystemX.Sound.Midi.ISequencer" DefaultClass="" />
	            <default Interface="SystemX.Sound.Midi.ISynthesizer" DefaultClass="" />
	            <default Interface="SystemX.Sound.Midi.ITransmitter" DefaultClass="" />
	        </defaults>
	
	    </midi>
	    <sampled>
	        <defaults>
	            <default Interface="SystemX.Sound.Sampled.IClip" DefaultClass="" />
	            <default Interface="SystemX.Sound.Sampled.IPort" DefaultClass="" />
	            <default Interface="SystemX.Sound.Sampled.ISourceDataLine" DefaultClass="" />
	            <default Interface="SystemX.Sound.Sampled.ITargetDataLine" DefaultClass="" />
	        </defaults>
	    </sampled>
	</sound>
</configuration>
